/* Sites importantes para a trajetória como desenvolvedor:*/

/* 1 - w3schools - Um site com diversos tutoriais onde se consegue aprender diversas coisas. */
.s{background-image: url('https://www.w3schools.com/');}

 /* 2 - developer.mozilla - Aqui temos toda a documentação do HTML, do CSS, etc. */
.s{background-image: url('https://developer.mozilla.org/pt-BR/');}

 /* 3 - Color Adobe - Site com inúmeras paletas de cores, com códigos, etc.  */
.s{background-image: url('https://color.adobe.com/pt/create/color-wheel');}

 /* 4 - Pinterest UI Design - Desenvolvimento gira em torno de cópias, na maioria das vezes. Aqui pegamos ideias e referências.
 Design de Interface de Usuário */
.s{background-image: url('https://color.adobe.com/pt/create/color-wheel');}

/* 5 - w3schools Color Picker - Aqui temos uma visão mais ampla das cores */
.s{background-image: url('https://www.w3schools.com/colors/colors_picker.asp');}

/* 6 - Google fonts - Uma maneira de importar novos tipos de Fontes */
.s{background-image: url('https://fonts.google.com/');}

